.image-section {
    position: relative;
    width: 100%;
    height: 20%;
    max-width: 100%;
    margin: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

#background-image {
    width: 100%;
    height: 350px;
    display: block;
}

#background-image-presetation {
    width: 100%;
    height: 520px;
    display: block;
}

.overlay-container {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Transparent background */
    padding: 20px; /* Space around the image */
    border-radius: 10px; /* Rounded corners for the background */
    text-align: center; /* Center the content */
    max-width: 90%; /* Ensure it doesn't exceed the viewport width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.overlay-image {
    width: 150px; /* Default width */
    height: auto; /* Maintain aspect ratio */
}


/* Media query for large screens */
@media screen and (max-width: 1200px) {
    .overlay-container {
        left: 10%;
        padding: 18px;
    }
    .overlay-image {
        width: 150px;
    }
}

/* Media query for medium screens (tablets) */
@media (max-width: 992px) {
    .overlay-container {
        left: 10%;
        padding: 16px;
    }
    .overlay-image {
        width: 110px;
    }
}

/* Media query for small screens (phones) */
@media (max-width: 768px) {
    .overlay-container {
        left: 10%;
        padding: 14px;
    }
    .overlay-image {
        width: 70px;
    }
}

/* Media query for extra small screens */
@media (max-width: 576px) {
    .overlay-container {
        left: 10%;
        padding: 12px;
    }
    .overlay-image {
        width: 65px;
    }
}

/* Media query for extra extra small screens */
@media (max-width: 400px) {
    .overlay-container {
        left: 10%;
        padding: 10px;
    }
    .overlay-image {
        width: 50px;
    }
}


h3 {
    font-size: xx-large;
    text-align: center;
    padding: 5%;
}
.equipment-section {
    padding: 0 10% 10% 10%;
    background-color:  var(--white-color);
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Space between items */
}

.equipment-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #3C7A45 ;
    border-radius: 8px;
    min-height: 256px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.equipment-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.equipment-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
}

.equipment-item:hover img {
    transform: scale(1.4);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Black overlay */
    transition: background-color 0.5s ease;
    z-index: 1; /* Ensure the overlay is above the image but below the text */
}

.equipment-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    width: 100%;
    font-size: 20px; /* Initial font size */
    font-weight: bold; /* Bold text */
    z-index: 2; /* Ensure the text is above the overlay */
    transition: all 0.5s ease; /* Smoother transition */
}

.equipment-item:hover p {
    font-size: 32px; /* Font size after hover */
    font-weight: bolder;
}

.equipment-item:hover .overlay {
    background-color: rgba(0, 0, 0, 0.531);
}


@media (max-width: 992px) {
    .order-1 {
        order: 2;
    }
    .order-2 {
        order: 1;
    }
}



/* Media query for devices with a max width of 1200px */
@media (max-width: 1200px) {
    #background-image-presetation {
        height: 400px; /* Adjust height for medium screens */
    }
    #background-image {
        height: 250px; /* Adjust height for medium screens */
    }
}

/* Media query for devices with a max width of 768px */
@media (max-width: 768px) {
    #background-image-presetation {
        height: 300px; /* Adjust height for tablets */
    }
    #background-image {
        height: 200px; /* Adjust height for medium screens */
    }
}

/* Media query for devices with a max width of 480px */
@media (max-width: 480px) {
    #background-image-presetation {
        height: 100px; /* Adjust height for mobile phones */
    }
    #background-image {
        height: 100px; /* Adjust height for medium screens */
    }
}